doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type",content="text/html",charset="utf-8")
    body
        div.header.clearfix
            div.btn#taskList.clearfix 活动列表
            div.btn#userList.clearfix 人员管理
            div.btn#controllerList.clearfix 管理员

