<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>glibc-2.17-78.el7.x86_64.rpm CentOS 7 Download</title>
	<meta name="description" content="Download glibc-2.17-78.el7.x86_64.rpm for CentOS 7 from CentOS repository." />
	<meta name="keywords" content="glibc, 2.17, rpm, x86_64, download" />
	<meta charset="utf-8" />
	<link rel="stylesheet" title="classic" type="text/css" href="/static/base.css?ver=25" />
	<link rel="shortcut icon" href="/static/images/favicon.ico?ver=1" type="image/x-icon" />
	<link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Linux Packages Search" />
</head>

<body>
	
<header id="header-wrapper">
	<div id="header">
		<a id="logo" href="/">pkgs.org</a>

		<div id="searchform-wrapper">
			<form method="get" action="/search/" id="searchform">
				<input id="searchform-query" name="query" type="text" size="32" autocomplete="off" />
				<a id="searchform-button" href="#"></a>

				<div id="searchform-params">
					<span>Distribution:</span>
					<select id="searchform-distro"></select><br />

					<span>Search Type:</span>
					<select id="searchform-type" name="type">
						<option value="smart">Smart Search (default)</option>
						<option value="name">Name</option>
						<option value="filename">Filename (binary package)</option>
						<option value="srcfilename">Filename (source package)</option>
						<option value="provides">Provides</option>
						<option value="requires">Requires</option>
						<option value="summary">Summary</option>
						<option value="description">Description</option>
						<option value="dirs">Directories</option>
						<option value="files">Files</option>
					</select>
				</div>
			</form>
		</div>

		<div class="addthis_native_toolbox" data-url="http://pkgs.org/" data-title="Linux Packages Search"></div>
	</div>
</header>


<div class="content-background">

<section class="panel-center content">

<nav id="breadcrumbs">
	<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
		<a href="/#centos-7" itemprop="url"><span itemprop="title">CentOS 7</span></a> »
	</div>

	<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
		<a href="/centos-7/centos-x86_64/" itemprop="url"><span itemprop="title">CentOS x86_64</span></a> »
	</div>

	<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
		glibc-2.17-78.el7.x86_64.rpm
	</div>

</nav>

<header>
	<h1>glibc-2.17-78.el7.x86_64.rpm</h1>
</header>

<div class="ad_top">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
	 style="display:inline-block;width:728px;height:90px"
	 data-ad-client="ca-pub-0394386064396881"
	 data-ad-slot="4371018224"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>



<div id="pkg_info" data-pkg_id="21331523">

<h2>Description</h2>
<div class="level1">
<p><b>glibc - The GNU libc libraries</b></p>

<div class="ad_pkg_info_center_wrapper">
<div class="ad_pkg_info_center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
	 style="display:inline-block;width:336px;height:280px"
	 data-ad-client="ca-pub-0394386064396881"
	 data-ad-slot="8206659364"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="ad_pkg_info_center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
	 style="display:inline-block;width:336px;height:280px"
	 data-ad-client="ca-pub-0394386064396881"
	 data-ad-slot="8206659364"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

</div>

<ul class="params">
<li><span>Distribution</span>: CentOS 7</li>
<li><span>Repository</span>: CentOS x86_64</li>
<li><span>Package name</span>: glibc</li>
<li><span>Package version</span>: 2.17</li>
<li><span>Package architecture</span>: x86_64</li>
<li><span>Package type</span>: rpm</li>
<li><span>Installed size</span>: 13,32 MB</li>
<li><span>Download size</span>: 3,57 MB</li>
<li><span>Binary package</span>: glibc-2.17-78.el7.x86_64.rpm</li>
<li><span>Source package</span>: glibc-2.17-78.el7.src.rpm</li>
</ul>

<div id="description">
<p>The glibc package contains standard libraries which are used by multiple programs on the system. In order to save disk space and memory, as well as to make upgrading easier, common system code is kept in one place and shared between programs. This particular package contains the most important sets of shared libraries: the standard C library and the standard math library. Without these two libraries, a Linux system will not function.</p>
</div>
</div>


<h2>See Also</h2>
<ul id="see_also">
<li><a href="/download/glibc">glibc</a> <span>all distributions</span></li>
<li><a href="/centos-7/centos-x86_64/glibc-2.17-78.el7.x86_64.rpm.html">glibc-2.17-78.el7.x86_64.rpm</a> <span>CentOS repository</span></li>
<li><a href="/centos-7/centos-x86_64/glibc-2.17-78.el7.i686.rpm.html">glibc-2.17-78.el7.i686.rpm</a> <span>CentOS repository</span></li>
</ul>


<h2>Requires</h2>
<ul id="requires">
<li><a href="/download/basesystem">basesystem</a></li>
<li><a href="/download/glibc-common">glibc-common = 2.17-78.el7</a></li>
<li><a href="/download/libfreebl3.so()(64bit)">libfreebl3.so()(64bit)</a></li>
<li><a href="/download/libfreebl3.so(NSSRAWHASH_3.12.3)(64bit)">libfreebl3.so(NSSRAWHASH_3.12.3)(64bit)</a></li>
<li><a href="/download/libgcc">libgcc</a></li>
</ul>


<ul id="requiredby">
</ul>


<h2>Provides</h2>
<ul id="provides">
<li>config(glibc) = 2.17-78.el7</li>
<li>glibc = 2.17-78.el7</li>
<li>glibc(x86-64) = 2.17-78.el7</li>
<li>ldconfig</li>
<li>ld-linux-x86-64.so.2()(64bit)</li>
<li>ld-linux-x86-64.so.2(GLIBC_2.2.5)(64bit)</li>
<li>ld-linux-x86-64.so.2(GLIBC_2.3)(64bit)</li>
<li>ld-linux-x86-64.so.2(GLIBC_2.4)(64bit)</li>
<li>libanl.so.1()(64bit)</li>
<li>libanl.so.1(GLIBC_2.2.5)(64bit)</li>
<li>libBrokenLocale.so.1()(64bit)</li>
<li>libBrokenLocale.so.1(GLIBC_2.2.5)(64bit)</li>
<li>libcidn.so.1()(64bit)</li>
<li>libCNS.so()(64bit)</li>
<li>libcrypt.so.1()(64bit)</li>
<li>libcrypt.so.1(GLIBC_2.2.5)(64bit)</li>
<li>libc.so.6()(64bit)</li>
<li>libc.so.6(GLIBC_2.10)(64bit)</li>
<li>libc.so.6(GLIBC_2.11)(64bit)</li>
<li>libc.so.6(GLIBC_2.12)(64bit)</li>
<li>libc.so.6(GLIBC_2.13)(64bit)</li>
<li>libc.so.6(GLIBC_2.14)(64bit)</li>
<li>libc.so.6(GLIBC_2.15)(64bit)</li>
<li>libc.so.6(GLIBC_2.16)(64bit)</li>
<li>libc.so.6(GLIBC_2.17)(64bit)</li>
<li>libc.so.6(GLIBC_2.2.5)(64bit)</li>
<li>libc.so.6(GLIBC_2.2.6)(64bit)</li>
<li>libc.so.6(GLIBC_2.3.2)(64bit)</li>
<li>libc.so.6(GLIBC_2.3.3)(64bit)</li>
<li>libc.so.6(GLIBC_2.3.4)(64bit)</li>
<li>libc.so.6(GLIBC_2.3)(64bit)</li>
<li>libc.so.6(GLIBC_2.4)(64bit)</li>
<li>libc.so.6(GLIBC_2.5)(64bit)</li>
<li>libc.so.6(GLIBC_2.6)(64bit)</li>
<li>libc.so.6(GLIBC_2.7)(64bit)</li>
<li>libc.so.6(GLIBC_2.8)(64bit)</li>
<li>libc.so.6(GLIBC_2.9)(64bit)</li>
<li>libdl.so.2()(64bit)</li>
<li>libdl.so.2(GLIBC_2.2.5)(64bit)</li>
<li>libdl.so.2(GLIBC_2.3.3)(64bit)</li>
<li>libdl.so.2(GLIBC_2.3.4)(64bit)</li>
<li>libGB.so()(64bit)</li>
<li>libISOIR165.so()(64bit)</li>
<li>libJIS.so()(64bit)</li>
<li>libJISX0213.so()(64bit)</li>
<li>libKSC.so()(64bit)</li>
<li>libmemusage.so()(64bit)</li>
<li>libm.so.6()(64bit)</li>
<li>libm.so.6(GLIBC_2.15)(64bit)</li>
<li>libm.so.6(GLIBC_2.2.5)(64bit)</li>
<li>libm.so.6(GLIBC_2.4)(64bit)</li>
<li>libnsl.so.1()(64bit)</li>
<li>libnsl.so.1(GLIBC_2.2.5)(64bit)</li>
<li>libnss_compat.so.2()(64bit)</li>
<li>libnss_db.so.2()(64bit)</li>
<li>libnss_dns.so.2()(64bit)</li>
<li>libnss_files.so.2()(64bit)</li>
<li>libnss_hesiod.so.2()(64bit)</li>
<li>libnss_nisplus.so.2()(64bit)</li>
<li>libnss_nis.so.2()(64bit)</li>
<li>libpcprofile.so()(64bit)</li>
<li>libpthread.so.0()(64bit)</li>
<li>libpthread.so.0(GLIBC_2.11)(64bit)</li>
<li>libpthread.so.0(GLIBC_2.12)(64bit)</li>
<li>libpthread.so.0(GLIBC_2.2.5)(64bit)</li>
<li>libpthread.so.0(GLIBC_2.2.6)(64bit)</li>
<li>libpthread.so.0(GLIBC_2.3.2)(64bit)</li>
<li>libpthread.so.0(GLIBC_2.3.3)(64bit)</li>
<li>libpthread.so.0(GLIBC_2.3.4)(64bit)</li>
<li>libpthread.so.0(GLIBC_2.4)(64bit)</li>
<li>libresolv.so.2()(64bit)</li>
<li>libresolv.so.2(GLIBC_2.2.5)(64bit)</li>
<li>libresolv.so.2(GLIBC_2.3.2)(64bit)</li>
<li>libresolv.so.2(GLIBC_2.9)(64bit)</li>
<li>librt.so.1()(64bit)</li>
<li>librt.so.1(GLIBC_2.2.5)(64bit)</li>
<li>librt.so.1(GLIBC_2.3.3)(64bit)</li>
<li>librt.so.1(GLIBC_2.3.4)(64bit)</li>
<li>librt.so.1(GLIBC_2.4)(64bit)</li>
<li>librt.so.1(GLIBC_2.7)(64bit)</li>
<li>libSegFault.so()(64bit)</li>
<li>libthread_db.so.1()(64bit)</li>
<li>libthread_db.so.1(GLIBC_2.2.5)(64bit)</li>
<li>libthread_db.so.1(GLIBC_2.3.3)(64bit)</li>
<li>libthread_db.so.1(GLIBC_2.3)(64bit)</li>
<li>libutil.so.1()(64bit)</li>
<li>libutil.so.1(GLIBC_2.2.5)(64bit)</li>
<li>rtld(GNU_HASH)</li>
</ul>


<div id="download">
<h2>Download</h2>
<a href="/centos-7/centos-x86_64/glibc-2.17-78.el7.x86_64.rpm/download/" title="Download glibc-2.17-78.el7.x86_64.rpm">
<img src="/static/images/download.png" alt="Download glibc-2.17-78.el7.x86_64.rpm" />
</a>

<p>Download glibc-2.17-78.el7.x86_64.rpm for CentOS 7<br />from the CentOS repository.</p>
</div>


<h2>Install Howto</h2>
<div id="howto" class="level2">
<p>Install the glibc rpm package:</p>
<pre># yum install glibc</pre>
</div>


<h2>Share</h2>
<div class="addthis_sharing_toolbox"></div>


<h2>Files</h2>
<ul id="files">
<li>/etc/gai.conf</li>
<li>/etc/ld.so.cache</li>
<li>/etc/ld.so.conf</li>
<li>/etc/ld.so.conf.d/</li>
<li>/etc/nsswitch.conf</li>
<li>/etc/rpc</li>
<li>/lib64/ld-2.17.so</li>
<li>/lib64/ld-linux-x86-64.so.2</li>
<li>/lib64/libBrokenLocale-2.17.so</li>
<li>/lib64/libBrokenLocale.so.1</li>
<li>/lib64/libSegFault.so</li>
<li>/lib64/libanl-2.17.so</li>
<li>/lib64/libanl.so.1</li>
<li>/lib64/libc-2.17.so</li>
<li>/lib64/libc.so.6</li>
<li>/lib64/libcidn-2.17.so</li>
<li>/lib64/libcidn.so.1</li>
<li>/lib64/libcrypt-2.17.so</li>
<li>/lib64/libcrypt.so.1</li>
<li>/lib64/libdl-2.17.so</li>
<li>/lib64/libdl.so.2</li>
<li>/lib64/libm-2.17.so</li>
<li>/lib64/libm.so.6</li>
<li>/lib64/libnsl-2.17.so</li>
<li>/lib64/libnsl.so.1</li>
<li>/lib64/libnss_compat-2.17.so</li>
<li>/lib64/libnss_compat.so.2</li>
<li>/lib64/libnss_db-2.17.so</li>
<li>/lib64/libnss_db.so.2</li>
<li>/lib64/libnss_dns-2.17.so</li>
<li>/lib64/libnss_dns.so.2</li>
<li>/lib64/libnss_files-2.17.so</li>
<li>/lib64/libnss_files.so.2</li>
<li>/lib64/libnss_hesiod-2.17.so</li>
<li>/lib64/libnss_hesiod.so.2</li>
<li>/lib64/libnss_nis-2.17.so</li>
<li>/lib64/libnss_nis.so.2</li>
<li>/lib64/libnss_nisplus-2.17.so</li>
<li>/lib64/libnss_nisplus.so.2</li>
<li>/lib64/libpthread-2.17.so</li>
<li>/lib64/libpthread.so.0</li>
<li>/lib64/libresolv-2.17.so</li>
<li>/lib64/libresolv.so.2</li>
<li>/lib64/librt-2.17.so</li>
<li>/lib64/librt.so.1</li>
<li>/lib64/libthread_db-1.0.so</li>
<li>/lib64/libthread_db.so.1</li>
<li>/lib64/libutil-2.17.so</li>
<li>/lib64/libutil.so.1</li>
<li>/lib64/rtkaio/</li>
<li>/lib64/rtkaio/librt.so.1</li>
<li>/lib64/rtkaio/librtkaio-2.17.so</li>
<li>/sbin/ldconfig</li>
<li>/sbin/sln</li>
<li>/usr/lib64/audit/</li>
<li>/usr/lib64/audit/sotruss-lib.so</li>
<li>/usr/lib64/gconv/</li>
<li>/usr/lib64/gconv/ANSI_X3.110.so</li>
<li>/usr/lib64/gconv/ARMSCII-8.so</li>
<li>/usr/lib64/gconv/ASMO_449.so</li>
<li>/usr/lib64/gconv/BIG5.so</li>
<li>/usr/lib64/gconv/BIG5HKSCS.so</li>
<li>/usr/lib64/gconv/BRF.so</li>
<li>/usr/lib64/gconv/CP10007.so</li>
<li>/usr/lib64/gconv/CP1125.so</li>
<li>/usr/lib64/gconv/CP1250.so</li>
<li>/usr/lib64/gconv/CP1251.so</li>
<li>/usr/lib64/gconv/CP1252.so</li>
<li>/usr/lib64/gconv/CP1253.so</li>
<li>/usr/lib64/gconv/CP1254.so</li>
<li>/usr/lib64/gconv/CP1255.so</li>
<li>/usr/lib64/gconv/CP1256.so</li>
<li>/usr/lib64/gconv/CP1257.so</li>
<li>/usr/lib64/gconv/CP1258.so</li>
<li>/usr/lib64/gconv/CP737.so</li>
<li>/usr/lib64/gconv/CP770.so</li>
<li>/usr/lib64/gconv/CP771.so</li>
<li>/usr/lib64/gconv/CP772.so</li>
<li>/usr/lib64/gconv/CP773.so</li>
<li>/usr/lib64/gconv/CP774.so</li>
<li>/usr/lib64/gconv/CP775.so</li>
<li>/usr/lib64/gconv/CP932.so</li>
<li>/usr/lib64/gconv/CSN_369103.so</li>
<li>/usr/lib64/gconv/CWI.so</li>
<li>/usr/lib64/gconv/DEC-MCS.so</li>
<li>/usr/lib64/gconv/EBCDIC-AT-DE-A.so</li>
<li>/usr/lib64/gconv/EBCDIC-AT-DE.so</li>
<li>/usr/lib64/gconv/EBCDIC-CA-FR.so</li>
<li>/usr/lib64/gconv/EBCDIC-DK-NO-A.so</li>
<li>/usr/lib64/gconv/EBCDIC-DK-NO.so</li>
<li>/usr/lib64/gconv/EBCDIC-ES-A.so</li>
<li>/usr/lib64/gconv/EBCDIC-ES-S.so</li>
<li>/usr/lib64/gconv/EBCDIC-ES.so</li>
<li>/usr/lib64/gconv/EBCDIC-FI-SE-A.so</li>
<li>/usr/lib64/gconv/EBCDIC-FI-SE.so</li>
<li>/usr/lib64/gconv/EBCDIC-FR.so</li>
<li>/usr/lib64/gconv/EBCDIC-IS-FRISS.so</li>
<li>/usr/lib64/gconv/EBCDIC-IT.so</li>
<li>/usr/lib64/gconv/EBCDIC-PT.so</li>
<li>/usr/lib64/gconv/EBCDIC-UK.so</li>
<li>/usr/lib64/gconv/EBCDIC-US.so</li>
<li>/usr/lib64/gconv/ECMA-CYRILLIC.so</li>
<li>/usr/lib64/gconv/EUC-CN.so</li>
<li>/usr/lib64/gconv/EUC-JISX0213.so</li>
<li>/usr/lib64/gconv/EUC-JP-MS.so</li>
<li>/usr/lib64/gconv/EUC-JP.so</li>
<li>/usr/lib64/gconv/EUC-KR.so</li>
<li>/usr/lib64/gconv/EUC-TW.so</li>
<li>/usr/lib64/gconv/GB18030.so</li>
<li>/usr/lib64/gconv/GBBIG5.so</li>
<li>/usr/lib64/gconv/GBGBK.so</li>
<li>/usr/lib64/gconv/GBK.so</li>
<li>/usr/lib64/gconv/GEORGIAN-ACADEMY.so</li>
<li>/usr/lib64/gconv/GEORGIAN-PS.so</li>
<li>/usr/lib64/gconv/GOST_19768-74.so</li>
<li>/usr/lib64/gconv/GREEK-CCITT.so</li>
<li>/usr/lib64/gconv/GREEK7-OLD.so</li>
<li>/usr/lib64/gconv/GREEK7.so</li>
<li>/usr/lib64/gconv/HP-GREEK8.so</li>
<li>/usr/lib64/gconv/HP-ROMAN8.so</li>
<li>/usr/lib64/gconv/HP-ROMAN9.so</li>
<li>/usr/lib64/gconv/HP-THAI8.so</li>
<li>/usr/lib64/gconv/HP-TURKISH8.so</li>
<li>/usr/lib64/gconv/IBM037.so</li>
<li>/usr/lib64/gconv/IBM038.so</li>
<li>/usr/lib64/gconv/IBM1004.so</li>
<li>/usr/lib64/gconv/IBM1008.so</li>
<li>/usr/lib64/gconv/IBM1008_420.so</li>
<li>/usr/lib64/gconv/IBM1025.so</li>
<li>/usr/lib64/gconv/IBM1026.so</li>
<li>/usr/lib64/gconv/IBM1046.so</li>
<li>/usr/lib64/gconv/IBM1047.so</li>
<li>/usr/lib64/gconv/IBM1097.so</li>
<li>/usr/lib64/gconv/IBM1112.so</li>
<li>/usr/lib64/gconv/IBM1122.so</li>
<li>/usr/lib64/gconv/IBM1123.so</li>
<li>/usr/lib64/gconv/IBM1124.so</li>
<li>/usr/lib64/gconv/IBM1129.so</li>
<li>/usr/lib64/gconv/IBM1130.so</li>
<li>/usr/lib64/gconv/IBM1132.so</li>
<li>/usr/lib64/gconv/IBM1133.so</li>
<li>/usr/lib64/gconv/IBM1137.so</li>
<li>/usr/lib64/gconv/IBM1140.so</li>
<li>/usr/lib64/gconv/IBM1141.so</li>
<li>/usr/lib64/gconv/IBM1142.so</li>
<li>/usr/lib64/gconv/IBM1143.so</li>
<li>/usr/lib64/gconv/IBM1144.so</li>
<li>/usr/lib64/gconv/IBM1145.so</li>
<li>/usr/lib64/gconv/IBM1146.so</li>
<li>/usr/lib64/gconv/IBM1147.so</li>
</ul>


<h2>Changelog</h2>
<div id="changelog">
<p><b>2015-01-19</b> - Carlos O'Donell &lt;carlos@redhat.com&gt; - 2.17-78
- Fix ppc64le builds (#1077389).</p>
<p><b>2015-01-19</b> - Siddhesh Poyarekar &lt;siddhesh@redhat.com&gt; - 2.17-77
- Fix parsing of numeric hosts in gethostbyname_r (CVE-2015-0235,
#1183545).</p>
<p><b>2015-01-15</b> - Carlos O'Donell &lt;carlos@redhat.com&gt; - 2.17-76
- Fix application crashes during calls to gettimeofday on ppc64
  when kernel exports gettimeofday via VDSO (#1077389).
- Prevent NSS-based file backend from entering infinite loop
  when different APIs request the same service (CVE-2014-8121, #1182272).</p>
<p><b>2014-12-08</b> - Carlos O'Donell &lt;carlos@redhat.com&gt; - 2.17-75
- Fix permission of debuginfo source files to allow multiarch
  debuginfo packages to be installed and upgraded (#1170110).</p>
<p><b>2014-12-05</b> - Carlos O'Donell &lt;carlos@redhat.com&gt; - 2.17-74
- Fix wordexp() to honour WRDE_NOCMD (CVE-2014-7817, #1170487).</p>
<p><b>2014-12-03</b> - Siddhesh Poyarekar &lt;siddhesh@redhat.com&gt; - 2.17-73
- ftell: seek to end only when there are unflushed bytes (#1156331).</p>
<p><b>2014-11-12</b> - Siddhesh Poyarekar &lt;siddhesh@redhat.com&gt; - 2.17-72
- [s390] Fix up _dl_argv after adjusting arguments in _dl_start_user
(#1161666).</p>
<p><b>2014-11-11</b> - Carlos O'Donell &lt;carlos@redhat.com&gt; - 2.17-71
- Fix incorrect handling of relocations in 64-bit LE mode for Power
  (#1162847).</p>
<p><b>2014-11-11</b> - Siddhesh Poyarekar &lt;siddhesh@redhat.com&gt; - 2.17-70
- [s390] Retain stack alignment when skipping over loader argv (#1161666).</p>
<p><b>2014-11-05</b> - Carlos O'Donell &lt;carlos@redhat.com&gt; - 2.17-69
- Use __int128_t in link.h to support older compiler (#1120490).</p>
</div>


<h2>Next Packages</h2>
<ul>
<li><a href="/centos-7/centos-x86_64/glibc-common-2.17-78.el7.x86_64.rpm.html">glibc-common-2.17-78.el7.x86_64.rpm</a></li>
<li><a href="/centos-7/centos-x86_64/glibc-devel-2.17-78.el7.i686.rpm.html">glibc-devel-2.17-78.el7.i686.rpm</a></li>
<li><a href="/centos-7/centos-x86_64/glibc-devel-2.17-78.el7.x86_64.rpm.html">glibc-devel-2.17-78.el7.x86_64.rpm</a></li>
<li><a href="/centos-7/centos-x86_64/glibc-headers-2.17-78.el7.x86_64.rpm.html">glibc-headers-2.17-78.el7.x86_64.rpm</a></li>
<li><a href="/centos-7/centos-x86_64/glibc-static-2.17-78.el7.i686.rpm.html">glibc-static-2.17-78.el7.i686.rpm</a></li>
<li><a href="/centos-7/centos-x86_64/glibc-static-2.17-78.el7.x86_64.rpm.html">glibc-static-2.17-78.el7.x86_64.rpm</a></li>
<li><a href="/centos-7/centos-x86_64/glibc-utils-2.17-78.el7.x86_64.rpm.html">glibc-utils-2.17-78.el7.x86_64.rpm</a></li>
<li><a href="/centos-7/centos-x86_64/glibmm24-2.36.2-4.el7.i686.rpm.html">glibmm24-2.36.2-4.el7.i686.rpm</a></li>
<li><a href="/centos-7/centos-x86_64/glibmm24-2.36.2-4.el7.x86_64.rpm.html">glibmm24-2.36.2-4.el7.x86_64.rpm</a></li>
<li><a href="/centos-7/centos-x86_64/glibmm24-devel-2.36.2-4.el7.i686.rpm.html">glibmm24-devel-2.36.2-4.el7.i686.rpm</a></li>
</ul>

</div>

<div class="ad_links_bottom">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
	 style="display:inline-block;width:728px;height:15px"
	 data-ad-client="ca-pub-0394386064396881"
	 data-ad-slot="7665113464"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>


</section>
</div>


<footer>
	<div id="copy">&copy;2009-2015 - Linux Packages Search</div>
	<a href="/about/">About</a> 
	<a href="/contacts/">Contact</a> 
	<a href="/advertise/">Advertise</a>  
	<a href="/thanks/">Thanks</a>
</footer>


<script type="text/javascript" src="/static/scripts/common.js?ver=81"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/scripts/jquery-cookie.js"></script>
<script type="text/javascript" src="/static/scripts/jquery-load_more.js?ver=4"></script>
<script type="text/javascript" src="/static/scripts/jquery-show_more.js?ver=4"></script>
<script type="text/javascript">page_init();</script>
<script type="text/javascript">pkg_info_init();</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-539ea15a71f32d24"></script>
<script type="text/javascript">google_analytics();</script>


</body>
</html>

