doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type",content="text/html",charset="utf-8")
        script(language="javascript",src="{{ STATIC_URL }}js/backend/sign.min.js")
        script(language="javascript",src="{{ STATIC_URL }}js/backend/rankCtrl.min.js")
        link(href="{{ STATIC_URL }}css/backend/sign.css",rel="stylesheet",type="text/css")
body(ng-app="app")
    div.left-wall
        div.wall-text 签到墙
        div.wall-data(ng-controller="rankCtrl",ng-cloak)
            div.card.base-infinite.fly(ng-repeat="i in users.user",class="avatar{[{ i.id }]}")
                div.avatar(style="background:url({[{ i.headimgurl }]})")=""
                div.nickname {[{ i.nickname }]}
    div.right-rank
        div.rank-text 积分排行榜
        {% for rankList in rankLists %}
        div.rank
            div.th
                div 名次
                div 用户
                div 积分
            div
                {% for i in rankList %}
                {% if i.color == 'red' %}
                div.red_bar
                    div.black_no {{ i.rank }}
                    span.nickname {{ i.nickname }}
                    span.total_score {{ i.total_score }}
                {% elif i.color == 'green' %}
                div.green_bar
                    div.black_no {{ i.rank }}
                    span.nickname {{ i.nickname }}
                    span.total_score {{ i.total_score }}
                {% elif i.color == 'gray' %}
                div.gray_bar
                   div.black_no {{ i.rank }}
                   span.nickname {{ i.nickname }}
                   span.total_score {{ i.total_score }}
                {% endif %}
                {% endfor %}
        {% endfor %}
