include ./lib/header.jade
link(href="/static/css/spot/chooseTask.css",rel="stylesheet",type="text/css")
script(src="/static/js/spot/chooseTask.min.js",language="javascript")

body
    div.body
        section.register
            button.register(type="button") 手动注册
        section.main
            div.title 选择项目
            div.taskList
                div.item 项目列表
                div(data-task_id="{{task_id}}" data-term="little-cource").item.little-cource 小课堂
                div(data-task_id="{{task_id}}" data-term="five-can").item.five-can 五项全能
                div(data-task_id="{{task_id}}" data-term="get-first").item.get-first 抢占先机
                div(data-task_id="{{task_id}}" data-term="big-buy").item.big-buy 大富翁
                div(data-task_id="{{task_id}}" data-term="hot-person").item.hot-person 集赞大师
                div(data-task_id="{{task_id}}" data-term="space-rebuild").item.space-rebuild 空间重塑
                div(data-task_id="{{task_id}}" data-term="option").item.option 定点操控
                div(data-task_id="{{task_id}}" data-term="perfect-in").item.perfect-in 完美入位
                div(data-task_id="{{task_id}}" data-term="driver-success").item.drive-success 非凡驾驶
                div(data-task_id="{{task_id}}" data-term="throw-money").item.throw-money 一掷千金
        div.handAdd(data-taskid="{{task_id}}")
            div.input-area
                div
                    span.username 用户名：
                    input.user-text#username(type="text")
                div
                    span.phone 手机号：
                    input.user-text#phone(type="text")
            div.btn-line
                button.btn#adduser-btn(type="button") 添加
                button.btn#adduser-cancel(type="button") 取消
