include ./lib/header.jade
link(href="/static/css/spot/chooseTask.css",rel="stylesheet",type="text/css")
script(src="/static/js/spot/chooseTask.min.js",language="javascript")

body
    div.body
        section.register
            button.register(type="button") 手动注册
        section.main
            div.title 选择项目
            div.taskList
                div.item 项目列表
                div.item.little-cource
                    a(href="/benz/spot/editScore/?task=littleCource") 小课堂
                div.item.five-can
                    a(href="/benz/spot/editScore/?task=fiveCan") 五项全能
                div.item.get-first 
                    a(href="/benz/spot/editScore/?task=getFirst") 抢占先机
                div.item.big-buy
                    a(href="/benz/spot/editScore/?task=bigBuy") 大富翁
                div.item.hot-person
                    a(href="/benz/spot/editScore/?task=hotPerson") 集赞大师
                div.item.space-rebuild
                    a(href="/benz/spot/editScore/?task=spaceRebuild") 空间重塑
                div.item.option
                    a(href="/benz/spot/editScore/?task=option") 定点操控
                div.item.perfect-in
                    a(href="/benz/spot/editScore/?task=perfectIn") 完美入位
                div.item.drive-success
                    a(href="/benz/spot/editScore/?task=driveSuccess") 非凡驾驶
                div.item.throw-money
                    a(href="/benz/spot/editScore/?task=throwMoney") 一掷千金
