include ./lib/header.jade
link(href="/static/css/spot/chooseList.css",rel="stylesheet",type="text/css")
script(src="/static/js/spot/chooseList.min.js",language="javascript")
body
    div.body
        div.title 选择活动
        div.second-title 活动列表
        div.taskList
            {% for i in taskList %}
            {% if spot_allow == 'all' or spot_allow == i.id %}
            div(data-id="{{ i.id }}").taskname {{ i.taskname }}
            {% endif %}
            {% endfor %}

