include ./lib/header.jade
    link(href="/static/css/spot/login.css",rel="stylesheet",type="text/css")
    script(src="/static/js/spot/login.min.js",language="javascript")
    body
        section.body
            div.title 现场人员后台
            div.input-area
                span.username 用户名：
                input.user-text(type="text")
            div.input-area
                span.password 密&nbsp;&nbsp;&nbsp;&nbsp;码：
                input.password-text(type="password")
            div.btn-line
                button.btn#login-btn(type="button") 登录
