include ./lib/header.jade
link(href="/static/css/spot/chooseTask.css",rel="stylesheet",type="text/css")
script(src="/static/js/spot/chooseTask.min.js",language="javascript")

body
    div.body
        section.register
            button.register(type="button") 手动注册
        section.main
            
