include ./lib/header.jade
link(href="/static/css/spot/chooseTask.css",rel="stylesheet",type="text/css")
script(src="/static/js/spot/chooseTask.min.js",language="javascript")
link(href="/static/css/spot/taskTerm.css",rel="stylesheet",type="text/css")
script(src="/static/js/spot/taskTerm.min.js",language="javascript")

body
    div.body
        section.register
            button.register(type="button") 手动添加
        section.main
            div.title xx项目选择参与者
            div(data-term="{{term}}").handAdd
                div.input-area
                    span.username 用户名：
                    input.user-text#username(type="text")
                div.btn-line
                    button.btn#adduser-btn(type="button") 添加
                    button.btn#adduser-cancel(type="button") 取消
            div(data-term="{{term}}").scoreAdd
                div.title 得分
                div.input-area
                    input.user-text#score(type="text")
                div.btn-line
                    button.btn#editscore-btn(type="button") 添加
                    button.btn#editscore-cancel(type="button") 取消
            div.userList
                table.userTable
                   tr
                     th 分配号
                     th 姓名
                     th 昵称
                     th 分数
                   {% for i in userList %}
                   tr(data-id="{{i.id}}", data-score="{{i.score}}").user-tr
                     td.td-id {{ i.id }}
                     td.td-name {{ i.name }}
                     td.td-curtain {{ i.curtain  }}
                     td.td-score {{ i.score  }}
                   {% endfor %}