include ./lib/header.jade
    script(language="javascript",src="/static/js/portal/showDetail.js")
    link(href="/static/css/portal/knowMore.css",rel="stylesheet",type="text/css")
    body
        include ./lib/title.jade
        section.score-rules=""
        section.each-area=""
