include ./lib/header.jade
    script(language="javascript",src="/static/js/portal/knowMore.min.js")
    link(href="/static/css/portal/knowMore.css",rel="stylesheet",type="text/css")
    body
        include ./lib/title.jade
        img.score-rules(src="/static/image/score-rules.png")
        img.each-area(src="/static/image/each-area.png")
        div.bottom-banner
            div.go-score
                a(href="#score") 积分规则
            div.go-area
                a(href="#area") 各区体验规则
