include ./lib/header.jade
    script(language="javascript",src="/static/js/portal/mapMode.min.js")
    link(href="/static/css/portal/mapMode.css",rel="stylesheet",type="text/css")
    body
        div.body
            include ./lib/title.jade
            div.footer
                div.know-more=""
                div.tab-map=""
                div.score-rank=""
