include ./lib/header.jade
    link(href="/static/css/portal/option.css",rel="stylesheet",type="text/css")
    body
        div.body
            include ./lib/title.jade
            section.banner=""
            section.bottom-banner=""
                div.enter-botton=""
