include ./lib/header.jade
    link(href="/static/css/portal/result.css",rel="stylesheet",type="text/css")
    body
        div.body
            include ./lib/title.jade
            {% if taskname == 'littleCource' %}
            div.banner(style="background:url('/static/image/little-cource-banner.jpg') center no-repeat;")=""
            {% elif taskname == 'bigBuy' %}
            div.banner(style="background:url('/static/image/bigBuy.jpg') center no-repeat;")=""
            {% elif taskname == 'fiveCan' %}
            div.banner(style="background:url('/static/image/five-can-banner.jpg') center no-repeat;")=""
            {% elif taskname == 'hotPerson' %}
            div.banner(style="background:url('/static/image/hot-person-banner.jpg') center no-repeat;")=""
            {% elif taskname == 'driveSuccess' %}
            div.banner(style="background:url('/static/image/drive-success-banner.jpg') center no-repeat;")=""
            {% elif taskname == 'perfectIn' %}
            div.banner(style="background:url('/static/image/perfectIn.jpg') center no-repeat;")=""
            {% elif taskname == 'option' %}
            div.banner(style="background:url('/static/image/option-banner.jpg') center no-repeat;")=""
            {% elif taskname == 'throwMoney' %}
            div.banner(style="background:url('/static/image/throw-money-banner.jpg') center no-repeat;")=""
            {% elif taskname == 'spaceRebuild' %}
            div.banner(style="background:url('/static/image/space-rebuild-banner.jpg') center no-repeat;")=""
            {% elif taskname == 'getFirst' %}
            div.banner(style="background:url('/static/image/get-first-banner.jpg') center no-repeat;")=""
            {% endif %}
            div.main-area
                {% if taskname == 'littleCource' %}
                div.title 小课堂
                {% elif taskname == 'bigBuy' %}
                div.title 大富翁
                {% elif taskname == 'fiveCan' %}
                div.title 五项全能
                {% elif taskname == 'hotPerson' %}
                div.title 集赞大师
                {% elif taskname == 'driveSuccess' %}
                div.title 非凡驾驶
                {% elif taskname == 'perfectIn' %}
                div.title 完美入位
                {% elif taskname == 'option' %}
                div.title 定点操控
                {% elif taskname == 'throwMoney' %}
                div.title 一掷千金
                {% elif taskname == 'spaceRebuild' %}
                div.title 空间重塑
                {% elif taskname == 'getFirst' %}
                div.title 抢占先机
                {% endif %}
                {% if needScan == True %}
                div.sub-status 未完成
                div.needScan
                    span 您已体验此区域
                    span.white 请点击完成按钮完成体验
                div.complate 
                    button.complate-btn 完成
                {% else %}
                div.sub-status 未完成
                div.needScan
                    span 您已体验此区域
                    span.white 请等待工作人员录入积分 
                div.complate 
                    button.complate-btn 确定
                {% endif %}
